* {
    padding: 0;
    margin: 0;
}

:root {
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-xl: 18px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Poppins, sans-serif;
}

nav {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

nav .right {
    width: max(45%, 525px);
}

nav .right ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

nav .right ul li {
    position: relative;
}

nav .right ul li .main-navs {
    text-decoration: none;
    color: white;
    text-shadow: black 1.5px 1.5px;
    font-size: var(--font-size-xl);
    padding: 10px;
    border-radius: 7px;
}

nav .right ul li .main-navs:hover {
    background-color: black;
}

#dropdown-nav {
    position: relative;
}

#dropdown-nav #dropdown-nav-a {
    background-color: black;
}

#dropdown-nav .drop-box {
    z-index: 15;
    position: absolute;
    display: block;
    top: -2px;
    right: 0;
    width: fit-content;
    text-wrap: nowrap;
    border-radius: 5px;
    transition: opacity 0.5s, pointer-event 1s;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    top: calc(100% + 9.5px);
}

#dropdown-nav .drop-box:hover {
    opacity: 1;
    pointer-events: all;
}

#dropdown-nav:hover .drop-box {
    opacity: 1;
    pointer-events: all;
}

#dropdown-nav .drop-box ul {
    display: block;
}

#dropdown-nav .drop-box ul li {
    color: white;
    font-size: var(--font-size-xl);
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 0.3s;
}

#dropdown-nav .drop-box ul li:hover {
    background-color: rgb(45, 45, 45);
}

#dropdown-nav .drop-box ul li:hover:first-child {
    border-radius: 5px 0 0 0;
}

#dropdown-nav .drop-box ul #nav-drop-pvp {
    border-bottom: none;
}

#dropdown-nav .drop-box ul a {
    text-decoration: none;
}

nav .left img {
    height: 100px;
}

footer {
    position: sticky;
    top: 100%;
    right: 0;
    left: 0;
    text-align: center;
    padding: 15px;
}

footer p a {
    text-decoration: none;
}

footer p,
footer p a {
    color: white;
    font-size: var(--font-size-xl);
    text-shadow: black 1.5px 1.5px;
}

@media (max-width: 970px) {
    nav {
        flex-direction: column;
    }

    nav .right {
        margin-top: 5px;
        width: 100%;
        justify-content: space-evenly;
    }

    nav .right ul li .main-navs {
        font-size: var(--font-size-m);
        padding: 7px;
    }

    #dropdown-nav .drop-box ul li {
        font-size: var(--font-size-m);
        padding: 7px;
    }

    #dropdown-nav .drop-box {
        top: calc(100% + 6px);
    }

    footer p {
        font-size: var(--font-size-m);
    }
}

@media (max-width: 690px) {
}
@media (max-width: 580px) {
    nav .right ul li .main-navs {
        font-size: var(--font-size-s);
    }

    #dropdown-nav .drop-box ul li {
        font-size: var(--font-size-s);
    }

    footer p,
    footer p a {
        font-size: var(--font-size-s);
    }
}

@media (max-width: 400px) {
    nav .left img {
        height: auto;
        width: 100%;
    }

    nav .right #dropdown-nav #dropdown-nav-a span {
        display: none;
    }

    nav .right ul li .main-navs {
        padding: 6px 5.5px;
    }

    #dropdown-nav #dropdown-nav-a {
        background-color: transparent;
    }

    #dropdown-nav .drop-box ul li {
        padding: 6px 5.5px;
    }
}
