* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    background-image: url('../Assets/home-page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    height: 140px;
    position: fixed;
    z-index: 1;
}
.navigation-bar {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: right;
}
.navigation-bar-btn {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 15px 5px;
    font-size: 37px;
    cursor: pointer;
    border-color: white;
    border-top: none;
    border-left: none;
    border-bottom: none;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    background-color: rgba(99, 99, 99, 0.764);
}
.navigation-bar-btn:hover {
    background-color: #3e3e3e;
}
.navigation-bar-btn:active {
    background-color: #272727;
}
#btn1 {
    border-radius: 0 0 0 20px;
}
#btn4 {
    border-right: none;
}
.information-area {
    position: absolute;
    margin: 175px 45px 175px 45px;
    width: 775px;
    height: auto;
    text-wrap: balance;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
}

@media (max-width: 1100px) {
    .logo {
        height: 100px;
    }
    .navigation-bar-btn {
        font-size: 30px;
    }
}

@media (max-width: 885px) {
    body {
        background-image: url('../Assets/home-page-background-croped.jpg');
    }
    .logo {
        position: relative;
        height: 130px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    .navigation-bar {
        position: relative;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        padding: 0;
    }
    .navigation-bar-btn {
        position: relative;
        height: fit-content;
        width: fit-content;
        padding: 10px 20px;
        font-size: 23px;
        cursor: pointer;
        border: none;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        background-color: transparent;
    }
    .navigation-bar-btn:hover {
        background-color: transparent;
    }
    .navigation-bar-btn:active {
        background-color: transparent;
    }
    #btn1 {
        border-radius: 0;
    }
}

@media (max-width: 520px) {
    body {
        background-image: url('../Assets/home-page-background-croped.jpg');
    }
    .logo {
        position: relative;
        height: 130px;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }
    .navigation-bar {
        position: relative;
        width: fit-content;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        padding: 0;
    }
    .navigation-bar-btn {
        position: relative;
        height: fit-content;
        width: fit-content;
        padding: 10px 30px;
        font-size: 20px;
        cursor: pointer;
        border: none;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        background-color: transparent;
    }
    #btn4 {
        width: 200px;
    }
}
