:root {
    --title-colour: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(155, 155, 155); */
    background-image: url(../Assets/background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

p {
    color: white;
    text-shadow: 2px 2px black;
}

h2 {
    text-shadow: 4px 4px black;
}

h3 {
    text-shadow: 4px 4px black;
}
/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    height: fit-content;
    align-items: center;
}

nav .left img {
    height: 100px;
}

nav .right a {
    margin: 0 5px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
}

nav .right a:hover {
    background-color: black;
    color: white;
}

nav .right a:active {
    background-color: rgb(75, 75, 75);
    transition: none;
}

#span1 {
    display: none;
}

/* About */

section {
    margin: 90px 150px 125px 100px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about h2 {
    font-size: 70px;
    color: white;
}

.about p {
    font-size: 20px;
    margin: 15px 0 0 0;
    width: 550px;
    line-height: 42px;
    margin-bottom: 20px;
}

.about .link-area {
    height: fit-content;
}

.about a {
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.about a:hover {
    background-color: rgb(50, 50, 50);
}

.about a:active {
    background-color: rgb(75, 75, 75);
    transition: none;
}

.about .bot-image img {
    border-radius: 50px;
    height: 300px;
}

/* features */

.features {
    display: flex;
    flex-direction: column;
}

.features .title h2 {
    font-size: 70px;
    margin-bottom: 50px;
    color: var(--title-colour);
}

.features .feature-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;
}

.features .feature-items h3 {
    display: list-item;
    font-size: 50px;
    color: var(--title-colour);
}

.features .feature-items video {
    height: 300px;
    border-radius: 15px;
    transition: 0.5s;
}

.features .feature-items video:hover {
    height: 400px;
    border-radius: 20px;
}

.features .feature-items p {
    font-size: 22px;
    text-align: center;
    line-height: 42px;
    width: 900px;
}

.features .feature-items .feature-items-elelment {
    margin: 15px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
}

footer a {
    font-size: 20px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
}

footer a .span1 {
    display: none;
}

footer a:hover {
    background-color: rgb(50, 50, 50);
}

footer u {
    cursor: pointer;
}

@media (max-width: 1170px) {
    .about .bot-image img {
        height: 250px;
    }

    section {
        margin: 75px;
    }
}

@media (max-width: 970px) {
    a {
        text-shadow: 1.5px 1.5px black;
    }

    p {
        text-shadow: 1.5px 1.5px black;
    }

    body {
        background-position: -225px;
    }

    nav {
        flex-direction: column;
    }

    nav .right {
        margin: 10px 0;
    }

    /* About */

    section {
        margin: 50px;
    }

    .about h2 {
        font-size: 50px;
        margin: 0 0 15px 0;
    }

    .about p {
        font-size: 15px;
        width: 400px;
        line-height: 35px;
    }

    .about .bot-image img {
        border-radius: 50px;
        height: 200px;
    }

    .about a {
        font-size: 12px;
    }

    /* features */

    .features .title h2 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .features .feature-items {
        margin-bottom: 50px;
    }

    .features .feature-items p {
        font-size: 17px;
        width: 575px;
        text-wrap: pretty;
    }

    .features .feature-items h3 {
        font-size: 40px;
    }

    .features .feature-items video {
        height: 250px;
    }

    .features .feature-items video:hover {
        height: 300px;
    }
}

/* @media (max-width: ) */

@media (max-width: 690px) {
    body {
        background-image: url(../Assets/background-phone.png);
        background-position: center;
    }

    section {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .about {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .about .link-area {
        margin-bottom: 25px;
    }

    .about .link-area a {
        font-size: 10px;
    }

    .about .bot-image img {
        height: 175px;
    }

    .about p {
        width: 470px;
        line-height: 30px;
    }

    .features {
        align-items: center;
    }

    .features .feature-items video {
        height: 200px;
        border-radius: 15px;
        transition: 0.5s;
    }

    .features .feature-items video:hover {
        height: 250px;
        border-radius: 20px;
    }

    .features .feature-items p {
        font-size: 15px;
        line-height: 30px;
        width: 500px;
    }

    /* footer */

    footer {
        font-size: 20px;
    }

    footer a {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    nav {
        padding: 0;
    }

    nav .right {
        margin: 10px 0;
    }

    nav .right a {
        padding: 5px 10px;
    }

    #span1 {
        display: unset;
    }

    #span2 {
        display: none;
    }

    h2 {
        text-shadow: 2.5px 2.5px black;
    }

    h3 {
        text-shadow: 2.5px 2.5px black;
    }

    .about p {
        width: 375px;
        line-height: 30px;
    }

    .features .feature-items {
        margin-bottom: 0;
    }

    .features .feature-items video {
        height: 150px;
        border-radius: 15px;
        transition: 0.5s;
    }

    .features .feature-items video:hover {
        height: 175px;
        border-radius: 20px;
    }

    .features .feature-items p {
        width: 375px;
    }

    .features .feature-items h3 {
        font-size: 30px;
    }

    /* footer */

    footer {
        font-size: 15px;
    }

    footer a {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    nav .left img {
        height: 70px;
    }

    nav .right a {
        padding: 5px 5px;
        font-size: 15px;
    }

    #span1 {
        display: unset;
    }

    #span2 {
        display: none;
    }

    .about h2 {
        font-size: 40px;
    }

    .about p {
        font-size: 12px;
        width: 275px;
        line-height: 20px;
    }

    .about .bot-image img {
        height: 150px;
        border-radius: 25px;
        margin-top: 25px;
    }

    .about .link-area {
        margin-bottom: 5px;
    }

    /* features */

    .features .title h2 {
        font-size: 40px;
    }

    .features .feature-items p {
        font-size: 12px;
        width: 275px;
        line-height: 20px;
    }

    .features .feature-items h3 {
        font-size: 25px;
    }

    .features .feature-items video {
        height: 125px;
        border-radius: 15px;
        transition: 0.5s;
    }

    .features .feature-items video:hover {
        height: 150px;
        border-radius: 20px;
    }

    /* footer */

    footer {
        font-size: 12px;
    }

    footer a {
        font-size: 10px;
    }

    footer a .span1 {
        display: unset;
    }

    footer a .span2 {
        display: none;
    }
}
