html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-image: url(../Assets/background-perks.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.temp {
    display: none;
    margin: 50px auto;
    height: 250px;
}

main {
    display: unset;
}

section {
    display: flex;
    justify-content: space-evenly;
    margin: 75px 0 30px 0;
}

.perks-box {
    height: fit-content;
    width: 325px;
    background-color: rgba(175, 175, 175, 0.572);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perks-box #price-box {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.perks-box #price-box p {
    color: blue;
}

#ancient {
    background-color: #bc0057;
}

#mythical {
    background-color: #a62019;
}

#custom {
    background-color: rgba(25, 250, 25, 0.683);
}

.perks-box h1 {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 27px;
}

.perks-box #perks-details p {
    text-align: center;
    font-size: 17px;
    color: white;
    text-shadow: 1.5px 1.5px black;
}

.perks-box #perks-details a {
    cursor: pointer;
    font-size: 17px;
    color: white;
    text-shadow: 1.5px 1.5px black;
}

.perks-box #link a {
    padding: 7px 12px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.perks-box #link a:hover {
    background-color: rgb(75, 75, 75);
}

.perks-box #link a:active {
    background-color: white;
    transition: none;
}

@media (max-width: 1200px) {
    .temp {
        height: 190px;
    }

    .perks-box {
        width: 275px;
    }

    .perks-box h1 {
        font-size: 20px;
    }

    .perks-box #price-box {
        font-size: 15px;
    }

    .perks-box #perks-details p {
        font-size: 15px;
    }

    .perks-box #perks-details a {
        font-size: 15px;
    }
}

@media (max-width: 1045px) {
    section {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .perks-box {
        margin: 0;
        width: 40%;
        min-width: 350px;
    }

    .perks-box h1 {
        font-size: 35px;
    }

    .perks-box #price-box {
        font-size: 20px;
    }

    .perks-box #perks-details {
        font-size: 17px;
    }
}

@media (max-width: 690px) {
    .perks-box h1 {
        font-size: 20px;
    }

    .perks-box #price-box {
        font-size: 15px;
    }

    .perks-box #perks-details {
        font-size: 12px;
    }

    .perks-box {
        width: 70%;
        min-width: 100px;
    }
}
