:root {
    --title-colour: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../Assets/background-perks.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    height: fit-content;
    align-items: center;
}

nav .left img {
    height: 100px;
}

nav .right a {
    margin: 0 5px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

nav .right a:hover {
    background-color: black;
    color: white;
}

nav .right a:active {
    background-color: rgb(75, 75, 75);
    transition: none;
}

#span1 {
    display: none;
}

/* perks */

section {
    display: flex;
    justify-content: space-evenly;
    margin: 150px 0 30px 0;
}

.perks-box {
    height: fit-content;
    width: 325px;
    background-color: rgba(175, 175, 175, 0.572);
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perks-box #price-box {
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.perks-box #price-box p {
    color: blue;
}

#ancient {
    background-color: #bc0057;
}

#mythical {
    background-color: #a62019;
}

#custom {
    background-color: rgba(25, 250, 25, 0.683);
}

.perks-box h1 {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 27px;
}

.perks-box #perks-details p {
    text-align: center;
    font-size: 17px;
    color: white;
    text-shadow: 1.5px 1.5px black;
}

.perks-box #perks-details a {
    cursor: pointer;
    font-size: 17px;
    color: white;
    text-shadow: 1.5px 1.5px black;
    text-decoration: none;
}

.perks-box #link a {
    padding: 7px 12px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.perks-box #link a:hover {
    background-color: rgb(75, 75, 75);
}

.perks-box #link a:active {
    background-color: white;
    transition: none;
}
/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
}

footer .left-footer p {
    color: white;
    text-shadow: 2px 2px black;
}

footer .left-footer a {
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: underline;
}

footer .right-footer a {
    font-size: 20px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

footer .right-footer {
    display: none;
}

footer .right-footer a .span1 {
    display: none;
}

footer .right-footer a:hover {
    background-color: rgb(50, 50, 50);
}

@media (max-width: 1170px) {
    nav .right a {
        text-shadow: 1.5px 1.5px black;
    }

    section {
        margin: 75px 0 15px 0;
    }

    /* perks */

    .perks-box {
        width: 275px;
    }

    .perks-box h1 {
        font-size: 20px;
    }

    .perks-box #price-box {
        font-size: 15px;
    }

    .perks-box #perks-details p {
        font-size: 15px;
    }

    .perks-box #perks-details a {
        font-size: 15px;
    }
}

@media (max-width: 970px) {
    body {
        background-position: -225px;
    }

    /* navbar */

    nav {
        flex-direction: column;
    }

    nav .right {
        margin: 10px 0;
    }

    /* perks */

    section {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .perks-box {
        margin: 25px 0;
        width: 500px;
    }

    .perks-box h1 {
        font-size: 35px;
    }

    .perks-box #price-box {
        font-size: 20px;
    }

    .perks-box #perks-details {
        font-size: 17px;
    }

    /* footer */

    footer .right-footer {
        display: unset;
    }
}

/* @media (max-width: ) */

@media (max-width: 690px) {
    body {
        background-image: url(../Assets/background-perks-phone.png);
        background-position: center;
    }

    section {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .perks-box {
        margin: 25px 0;
        width: 350px;
    }

    .perks-box h1 {
        font-size: 20px;
    }

    .perks-box #price-box {
        font-size: 15px;
    }

    .perks-box #perks-details {
        font-size: 12px;
    }

    /* footer */

    footer {
        font-size: 20px;
    }

    footer .right-footer a {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    #span1 {
        display: unset;
    }

    #span2 {
        display: none;
    }

    nav .right a {
        font-size: 17px;
    }
    /* footer */

    footer {
        font-size: 15px;
    }

    footer .right-footer a {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    nav .left img {
        height: 70px;
    }

    nav .right a {
        padding: 5px 5px;
        font-size: 15px;
    }

    .perks-box {
        width: 290px;
    }

    /* footer */

    footer {
        font-size: 12px;
    }

    footer a {
        font-size: 10px;
    }

    footer .right-footer a .span1 {
        display: unset;
    }

    footer .right-footer a .span2 {
        display: none;
    }
}
