:root {
    --title-colour: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(155, 155, 155); */
    background-image: url(../Assets/background-tos.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
    text-shadow: 2px 2px black;
    text-decoration: none;
}

p {
    color: white;
    text-shadow: 2px 2px black;
}

h2 {
    color: white;
    text-shadow: 4px 4px black;
}

h3 {
    color: white;
    text-shadow: 4px 4px black;
}

section {
    margin: 50px 225px;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 10px;
    height: fit-content;
    align-items: center;
}

nav .left img {
    height: 100px;
}

nav .right a {
    margin: 0 5px;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.5s;
}

nav .right a:hover {
    background-color: black;
    color: white;
}

nav .right a:active {
    background-color: rgb(75, 75, 75);
    transition: none;
}

#span1 {
    display: none;
}

/* TOS */

.date {
    text-align: end;
    font-size: 18px;
}

.heading {
    font-size: 65px;
    text-align: center;
}

.tos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tos .tos-items {
    margin-bottom: 45px;
}

.tos .tos-items h3 {
    font-size: 45px;
}

.tos .tos-items p {
    font-size: 17px;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-size: 25px;
}

footer a {
    font-size: 20px;
    padding: 5px 10px;
    background-color: black;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
}

footer a .span1 {
    display: none;
}

footer a:hover {
    background-color: rgb(50, 50, 50);
}

footer u {
    cursor: pointer;
}

@media (max-width: 1170px) {
    a {
        text-shadow: 1.5px 1.5px black;
    }

    section {
        margin: 75px;
    }
}

@media (max-width: 970px) {
    body {
    }

    /* navbar */

    nav {
        flex-direction: column;
    }

    nav .right {
        margin: 10px 0;
    }

    /* tos */

    .terms h2 {
        font-size: 45px;
    }

    .tos .tos-items h3 {
        font-size: 37px;
    }

    .tos .tos-items p {
        font-size: 14px;
    }
}

/* @media (max-width: ) */

@media (max-width: 690px) {
    body {
        background-image: url(../Assets/background-tos-phone.png);
        background-position: center;
    }

    /* tos */

    .terms h2 {
        font-size: 39px;
    }

    .tos .tos-items h3 {
        font-size: 30px;
    }

    .tos .tos-items p {
        font-size: 12px;
    }

    /* footer */

    footer {
        font-size: 20px;
    }

    footer a {
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    #span1 {
        display: unset;
    }

    #span2 {
        display: none;
    }

    nav .right a {
        font-size: 17px;
    }

    /* tos */

    section {
        margin: 25px;
    }

    .terms .date {
        font-size: 12px;
    }

    .terms h2 {
        font-size: 30px;
    }

    .tos .tos-items h3 {
        font-size: 25px;
    }

    /* footer */

    footer {
        font-size: 15px;
    }

    footer a {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    nav .left img {
        height: 70px;
    }

    nav .right a {
        padding: 5px 5px;
        font-size: 15px;
    }

    /* footer */

    footer {
        font-size: 12px;
    }

    footer a {
        font-size: 10px;
    }

    footer a .span1 {
        display: unset;
    }

    footer a .span2 {
        display: none;
    }
}
